/* Layout defaults */

.remark-slide-content{
  /*vertical-align: middle;*/
}

/* Text */
body .remark-slide-content{
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}

/* Headers */

.remark-slide-content h3{
  margin-top:.5em;
  margin-bottom:.5em;
}

.remark-slide-content h3:first-child{
  margin:inherit;
}

/*Title screen*/

.title h1{
  border-bottom: solid 5px;
}

/* slide styles */

.biglist ul{
  list-style-type:circle;
  font-size:2em;
  line-height:1.5em;
}

.todo {
  background: lightcoral;
  font-style: italic;
}

.code{
  background:#F0F0F0;
  margin:0;
  padding:1em;
  /*vertical-align: middle;*/
}